<html>
    <head>
        <style>
            body {
                background-image: url('/static/background.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>
    </head>
    <script type="text/javascript">
    var canvas, ctx,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 8;
    
    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, w, h);
        
        // for drawing letters
        adding = false
        letters = ''

        canvas.addEventListener("mousemove", function (e) {
            draw('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            draw('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            draw('up', e)
        }, false);
    }
    
    function drawLine() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }
    
    function erase() {
        if (confirm("Want to clear")) {
            ctx.clearRect(0, 0, w, h);
            document.getElementById("canvasimg").style.display = "none";
            ctx.fillStyle = "white";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
        }
    }
    
    function save() {
        // var canvasData = canvas.toDataURL("image/png");
        // var xmlHttpReq = false;

        // if (window.XMLHttpRequest) {
        //     ajax = new XMLHttpRequest();
        // }
        // else if (window.ActiveXObject) {
        //     ajax = new ActiveXObject("Microsoft.XMLHTTP");
        // }

        // ajax.open("POST", "save.php", false);
        // ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        // ajax.onreadystatechange = function() {
        //     console.log(ajax.responseText);
        // }
        // ajax.send("imgData=" + canvasData);      https://stackoverflow.com/questions/13198131/how-to-save-an-html5-canvas-as-an-image-on-a-server
        
        var link = document.getElementById('link');
        link.setAttribute('download', 'drawnImage.png');
        link.setAttribute('href', canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"));
        link.click();
    }
    
    function draw(res, e) {
        if (res == 'move') {
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
        }
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
        }

        if (res == 'up') {
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
            if (adding) {
                ctx.font = '50px serif'
                ctx.fillStyle = 'black'
                ctx.fillText(letters, currX, currY);
            }
            else {
                drawLine()
            }
        }
    }

    function addLetters() {
        adding = !adding
        document.getElementById('addltr').setAttribute('value', adding ? 'Stop Adding Letters' : 'Add Letter(s)')
        letters = document.getElementById('ltr').value
    }
    </script>
    <body onload="init()">
        <h1>Click and drag on the canvas to create a line. Hit the "Save" button to download the image.</h1>
        <center><canvas id="can" width="800" height="600" style="border:2px solid;"></canvas></center>
        <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
        <input type="text" id="ltr" size="2">
        <input type="button" value="Add Letter(s)" id="addltr" onclick="addLetters()"><br>
        <input type="button" value="Save" id="btn" size="30" onclick="save()">
        <input type="button" value="Clear" id="clr" size="23" onclick="erase()">
        <form action = "upload">
            <button type = "submit">Back</button>
        </form>

        <a id="link"></a>
    </body>
    </html>