<html>
    <head>
        <style>
            body {
                background-image: url('/static/background.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>
    </head>
    <script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false,
        color = "#ffffff",
        y = 2;
    
    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");

        const img = new Image();
        img.src = 'static/inputImage.{{ ext }}';
        img.onload = () => {
            ctx.drawImage(img, 0, 0);
        }
        w = img.width;
        h = img.height;

        canvas.setAttribute('width', w)
        canvas.setAttribute('height', h)

        stack = new Array()
        index = -1

        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
            // add to stack
            index++
            if (index < stack.length) {
                stack.length = index
            }
            stack.push(canvas.toDataURL())
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);

        colorPicker = document.getElementById("colorpicker")
        colorPicker.addEventListener("change", changeColor, false);

        function changeColor(event) {
            color = event.target.value
        }
    }
    
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = color;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }
    
    function erase() {
        if (confirm("Want to clear")) {
            ctx.reset()
            const img = new Image();
            img.src = 'static/inputImage.{{ ext }}';
            img.onload = () => {
                ctx.drawImage(img, 0, 0);
            }
        }
    }
    
    function save() {   // REPLACE
        var link = document.getElementById('link');
        link.setAttribute('download', 'drawnImage.png');
        link.setAttribute('href', canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"));
        link.click();
    }
    
    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = color;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
    
    function undo() {
        if (index > 0) {
            index--
            tempImg = new Image()
            tempImg.src = stack[index]
            tempImg.onload = () => {
                ctx.drawImage(tempImg, 0, 0)
            }
        }
    }

    function redo() {
        if (index < stack.length - 1) {
            index++
            tempImg = new Image()
            tempImg.src = stack[index]
            tempImg.onload = () => {
                ctx.drawImage(tempImg, 0, 0)
            }            
        }
    }
    </script>
    <body onload="init()">
        <canvas id="can" width="800" height="600" style="border:2px solid;"></canvas><br>
        <div>Choose Color</div>
        <input type="color" id="colorpicker" value="#ffffff"><br>
        <input type="button" value="Undo" onclick="undo()">
        <input type="button" value="Redo" onclick="redo()"><br>
        <input type="button" value="Save" id="btn" size="30" onclick="save()">
        <input type="button" value="Clear" id="clr" size="23" onclick="erase()"><br>
        <form action = "upload">
            <input type = "submit" value="Back">
        </form>

        <a id="link"></a>
    </body>
    </html>